#loading_gif {
	margin: auto;
	display: block;	
}
#loading{
	position:absolute;
	width:100%;
	height:100%;
	/* text-align: center; */
}
#collapseQueries{
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
 }
 .ui-autocomplete {
     z-index: 100000000000 !important;
}

